@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}
body{
    font-family: Lato,Helvetica,Arial,Lucida Grande,sans-serif;
}
nav .navbar{
    width: 100%;
    padding-right: 0px;
  }
  .navbar-brand{
    margin-right: 30%;
    font-weight:800;
  }
  .nav-item a{
    font-size: 20px;
    font-weight: 700;
  }